/* ============================================
   Arquivo: css/style.css
   Função: Estilos personalizados do projeto
   Obs: O Tailwind CSS é carregado via CDN no HTML
   ============================================ */

/* Exemplo de estilo customizado */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.excluir{
    display: block;
    background: red;
    color: white;
    padding: 5px 10px;
    width: 96%;
    float: left;
    margin: 2%;
    text-align:center;
}

.editar{
    display: block;
    background: blue;
    color: white;
    padding: 5px 10px;
    width: 96%;
    float: left;
    margin: 2%;
    text-align:center;
}
